<div class="container">
    <h1>Nuevo Tweet</h1>
    <%= form_with model: @tweet do |f| %>
        <div class= "form-row">
            <div class="form-group col-6">
            <%= f.text_field :body, placeholder: "Comparte tu Estado", class: 'form-control'%>
            <%= f.submit 'Save', class: "btn btn-primary" %>
            <div/>
        <div/>
    <%end %>
<div/>